In [ ]:
import pandas as pd

## 1. Load the Data

### 1.1. Inspect the Data
- Data records for general aviation and commercial air carrier incidents since 1978, collected from FAA's Accident and Incident Data Systems
- 100000 data points
- general deatils (date, aircraft, operator, location)
- flight and pilot details (aircraft damage, injuries, pic cert type, pic total hrs, pic make-model hrs)

In [3]:
df=pd.read_csv('../data/faa_incidents_data.csv')

/tmp/ipykernel_73673/3494293613.py:1: DtypeWarning: Columns (12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('../data/faa_incidents_data.csv')

In [4]:
df.head()

,AIDS Report Number,Local Event Date,Event City,Event State,Event Airport,Event Type,Aircraft Damage,Flight Phase,Aircraft Make,Aircraft Model,...,Total Injuries,Aircraft Engine Make,Aircraft Engine Model,Engine Group Code,Nbr of Engines,PIC Certificate Type,PIC Flight Time Total Hrs,PIC Flight Time Total Make-Model,,.1
0,19780101000019I,01-JAN-78,WAHPETON,ND,BRECKENRIDGE,INCIDENT,MINOR,ROLL-OUT (FIXED WING),CESSNA,182,...,0,NaN,NaN,NaN,1.0,PRIVATE PILOT,245.0,136.0,0.0,0.0
1,19780101000029I,01-JAN-78,FAIRBANKS,AK,FAIRBANKS INTL,INCIDENT,MINOR,ROLL-OUT (FIXED WING),PIPER,PA18,...,0,NaN,NaN,NaN,1.0,STUDENT,200.0,2.0,0.0,0.0
2,19780101000039I,01-JAN-78,BRUNSWICK,GA,JEKYLL ISLAND,INCIDENT,NaN,NORMAL CRUISE,BEECH,35,...,0,NaN,NaN,NaN,1.0,PRIVATE PILOT,NaN,0.0,0.0,0.0
3,19780101000049I,01-JAN-78,CARLSBAD,CA,MC CLELLAN-PALOMAR,INCIDENT,MINOR,LEVEL OFF TOUCHDOWN,CESSNA,310,...,0,NaN,NaN,NaN,2.0,COMMERCIAL PILOT FLIGHT INSTRUCTOR,2000.0,400.0,0.0,0.0
4,19780101000059I,01-JAN-78,TROUTDALE,OR,TROUTDALE MUNI,INCIDENT,MINOR,"GROUND TAXI, OTHER AIRPLANE",CESSNA,172,...,0,NaN,NaN,NaN,1.0,COMMERCIAL PILOT,300.0,130.0,0.0,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   AIDS Report Number                100000 non-null  object
 1   Local Event Date                  100000 non-null  object
 2   Event City                        91364 non-null   object
 3   Event State                       99234 non-null   object
 4   Event Airport                     81398 non-null   object
 5   Event Type                        100000 non-null  object
 6   Aircraft Damage                   71199 non-null   object
 7   Flight Phase                      99758 non-null   object
 8   Aircraft Make                     97441 non-null   object
 9   Aircraft Model                    96928 non-null   object
 10  Aircraft Series                   96927 non-null   object
 11  Operator                          29974 non-null   object
 12  Primary Flight Type               89906 non-null   object
 13  Flight Conduct Code               99858 non-null   object
 14  Flight Plan Filed Code            87088 non-null   object
 15  Aircraft Registration Nbr         100000 non-null  object
 16  Total Fatalities                  100000 non-null  int64
 17  Total Injuries                    100000 non-null  int64
 18  Aircraft Engine Make              36395 non-null   object
 19  Aircraft Engine Model             36399 non-null   object
 20  Engine Group Code                 30102 non-null   object
 21  Nbr of Engines                    93004 non-null   float64
 22  PIC Certificate Type              91474 non-null   object
 23  PIC Flight Time Total Hrs         79807 non-null   float64
 24  PIC Flight Time Total Make-Model  85053 non-null   float64
 25                                    83803 non-null   float64
 26   .1                               60737 non-null   float64
dtypes: float64(5), int64(2), object(20)
memory usage: 20.6+ MB

### 1.2. Clean the Data

In [6]:
# List columns
print(df.columns.values)

['AIDS Report Number' 'Local Event Date' 'Event City' 'Event State'
 'Event Airport' 'Event Type' 'Aircraft Damage' 'Flight Phase'
 'Aircraft Make' 'Aircraft Model' 'Aircraft Series' 'Operator'
 'Primary Flight Type' 'Flight Conduct Code' 'Flight Plan Filed Code'
 'Aircraft Registration Nbr' 'Total Fatalities' 'Total Injuries'
 'Aircraft Engine Make' 'Aircraft Engine Model' 'Engine Group Code'
 'Nbr of Engines' 'PIC Certificate Type' 'PIC Flight Time Total Hrs'
 'PIC Flight Time Total Make-Model' ' ' ' .1']

In [7]:
# Drop columns
df=df.drop(columns=['AIDS Report Number', 'Event Type', 'Aircraft Series', 'Operator', 'Primary Flight Type', 'Flight Conduct Code', 
        'Flight Plan Filed Code', 'Aircraft Engine Make', 'Aircraft Engine Model', 'Engine Group Code', ' ', ' .1'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Local Event Date                  100000 non-null  object
 1   Event City                        91364 non-null   object
 2   Event State                       99234 non-null   object
 3   Event Airport                     81398 non-null   object
 4   Aircraft Damage                   71199 non-null   object
 5   Flight Phase                      99758 non-null   object
 6   Aircraft Make                     97441 non-null   object
 7   Aircraft Model                    96928 non-null   object
 8   Aircraft Registration Nbr         100000 non-null  object
 9   Total Fatalities                  100000 non-null  int64
 10  Total Injuries                    100000 non-null  int64
 11  Nbr of Engines                    93004 non-null   float64
 12  PIC Certificate Type              91474 non-null   object
 13  PIC Flight Time Total Hrs         79807 non-null   float64
 14  PIC Flight Time Total Make-Model  85053 non-null   float64
dtypes: float64(3), int64(2), object(10)
memory usage: 11.4+ MB

In [8]:
# Count NaN values
df.isnull().sum(axis=0)

Local Event Date                        0
Event City                           8636
Event State                           766
Event Airport                       18602
Aircraft Damage                     28801
Flight Phase                          242
Aircraft Make                        2559
Aircraft Model                       3072
Aircraft Registration Nbr               0
Total Fatalities                        0
Total Injuries                          0
Nbr of Engines                       6996
PIC Certificate Type                 8526
PIC Flight Time Total Hrs           20193
PIC Flight Time Total Make-Model    14947
dtype: int64

In [9]:
# Drop rows with NaN values
df.dropna(how='any', inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42124 entries, 0 to 99997
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Local Event Date                  42124 non-null  object
 1   Event City                        42124 non-null  object
 2   Event State                       42124 non-null  object
 3   Event Airport                     42124 non-null  object
 4   Aircraft Damage                   42124 non-null  object
 5   Flight Phase                      42124 non-null  object
 6   Aircraft Make                     42124 non-null  object
 7   Aircraft Model                    42124 non-null  object
 8   Aircraft Registration Nbr         42124 non-null  object
 9   Total Fatalities                  42124 non-null  int64
 10  Total Injuries                    42124 non-null  int64
 11  Nbr of Engines                    42124 non-null  float64
 12  PIC Certificate Type              42124 non-null  object
 13  PIC Flight Time Total Hrs         42124 non-null  float64
 14  PIC Flight Time Total Make-Model  42124 non-null  float64
dtypes: float64(3), int64(2), object(10)
memory usage: 5.1+ MB

In [10]:
# Save clean df
df.to_parquet('../data/clean_df.parquet')

### 1.3. Data Wrangling

In [11]:
# Combine aircraft make and model
df['Aircraft Make-Model'] = df[['Aircraft Make', 'Aircraft Model']].agg(' '.join, axis=1)

# Drop individual make column
df=df.drop(columns=['Aircraft Make'])

In [12]:
# Convert date obj to dtm
df['Local Event Date']=pd.to_datetime(df['Local Event Date'], format= '%d-%b-%y')

In [13]:
# Combine flight phases into broader groups: ground, taxiing, take-off, climb, cruise, descent, approach, landing, rotor, unknown

# List phases to combine
ground=['STARTING ENGINES','OTHER GROUND OPERATIONS','IDLING ENGINES','ENGINE RUN-UP','IDLING ROTORS','GROUND-RAMP','RUN-UP AREA']
# Combine specified phases into phase category 'pre-flight'
for g in ground:
    df.loc[df['Flight Phase'] == g, 'Phase Category'] = 'GROUND'

taxiing=['GROUND TAXI, OTHER AIRPLANE','TAXI']
for t in taxiing:
    df.loc[df['Flight Phase'] == t, 'Phase Category'] = 'TAXIING'

takeoff=['TAKEOFF GROUND ROLL','TO ABORTED (FIXED WING)','TO ABORTED (COPIER/RUN TAKE OFF)','TAKEOFF','TAKEOFF: DEPARTURE','TAKEOFF: ROTATION']
for t in takeoff:
    df.loc[df['Flight Phase'] == t, 'Phase Category'] = 'TAKE-OFF'

climb=['CLIMB','TO INITIAL CLIMB (1ST POWER REDUCTION)','TAKEOFF: CLIMB OUT']
for c in climb:
    df.loc[df['Flight Phase'] == c, 'Phase Category'] = 'CLIMB'

cruise=['NORMAL CRUISE','PRACTICE TRAINING MENEUVERS','LOW LEVEL OPERATIONS','UNAUTHORIZED LOW LEVEL OPERATIONS','SIMULATED FORCED LANDING CRUISE',
        'PARACHUTE JUMPING','FORMATION FLYING','SCUD RUNNING','CRUISE-LEVEL FLIGHT','MANEUVER']
for c in cruise:
    df.loc[df['Flight Phase'] == c, 'Phase Category'] = 'CRUISE'

descent=['DESCENT']
for d in descent:
    df.loc[df['Flight Phase'] == d, 'Phase Category'] = 'DESCENT'

approach=['IN TRAFFIC PATTERN-CIRCLING','MISSED APPROACH INSTRUMENT FLIGHT RULES','FINAL APPROACH','GO ROUND (ABORTED VISUAL FLIGHT RULES)',
        'INITIAL APPROACH-INSTRUMENT FLIGHT RULES','FINAL APPROACH- INSTRUMENT FLIGHT RULES','SIMULATED FORCED LANDING AUTOROTATION',
        'SIMULATED FORCED LANDING FINAL APPROACH','SIMULATED FORCED LANDING TRAFFIC PATTERN','HOLDING INSTRUMENT FLIGHT RULES',
        'LANDING: APPROACH','APPROACH']
for a in approach:
    df.loc[df['Flight Phase'] == a, 'Phase Category'] = 'APPROACH'

landing=['ROLL-OUT (FIXED WING)','LEVEL OFF TOUCHDOWN','TOUCH AND GO LANDING','FORCED LANDING','FORCED/PRECAUTIONARY LANDING',
        'FCD/PREC LDG FROM CRUISE','SIMULATED FORCED LANDING/TAKEOFF','TO RUNNING(HELICOPTER/VERTICAL TAKEOFF AND LANDING AIRCRAFT)',
        'POWER OFF RUN LAND (AUTOROTATION)','SIMULATED FORCED LANDING GO AROUND','POWER OFF VERTICAL LANDING/AUTOROTATE',
        'SIMULATED FORCED LANDING/TAKEOFF CLIMB','SLOPE LANDING','LANDING','LANDING: TOUCHDOWN','LANDING: ROLLOUT']
for l in landing:
    df.loc[df['Flight Phase'] == l, 'Phase Category'] = 'LANDING'

rotor=['OPERATIONS ON GROUND FROM LANDING/ROTORCRAFT','POWER ON VERTICAL LANDING/ROTORCRAFT','POWER ON RUN LANDING (ROTORCRAFT)','HOVERING',
       'AERIAL TAXI, OTHER HELICOPTER','AERIAL TAXI TO TAKEOFF/ROTORCRAFT','POWER ON DESCENT (ROTORCRAFT)','HOVER-HOLDING',
       'OPERATIONS ON GROUND TO TAKEOFF/ROTORCRAFT','AUTOROT DESCENT (ROTORCRAFT)','AERIAL TAXI FROM LANDING/ROTORCRAFT',
       'TO VERTICAL (HELICOPTER ONLY)','ROLL-OUT (ROTORCRAFT)','TAKEOFF-ABORT-COPTER VERTICAL','SETTLE WITH POWER (ROTORCRAFT)']
for r in rotor:
    df.loc[df['Flight Phase'] == r, 'Phase Category'] = 'ROTOR'

unknown=['UNKNOWN','OTHER-SPECIFY']
for u in unknown:
    df.loc[df['Flight Phase'] == u, 'Phase Category'] = 'UNKNOWN'

In [14]:
# Save wrangled df
df.to_parquet('../data/wrangled_df.parquet')